body {
    display: flex;
    justify-content: center;
}
.container
{
    margin-top: 70px;
    width: 350px;
    box-shadow: 0px 0px 25px 15px #4aff44;
    padding: 60px;
    border-radius: 40px;
    text-align: center;
}
h1
{
    margin-bottom: 50px ;
}
input
{
    border: none;
    border-bottom: 2px solid #4469ff;
    width: 60%;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
button
{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    background-color: #44d7ff;
    color : #ffff;
    font-size: 25px;
}
#Result
{
    margin-top: 30px;
    font-size: 20px;
}
